.hidden {
    display: none
}

body {
    background-color: rgb(55, 52, 75);
}

#code {
    background-color: rgb(41, 39, 56);
    color: whitesmoke;
    padding: 8px;
    width: 48%;
    height: 50%;
    font-size: x-large;
    margin-top: 10px;
}

#resultContainer {
    float: left;
    overflow-x: auto;
}

#queryResult {
    background-color: rgb(41, 39, 56);
    color: rgb(161, 161, 161);
    padding: 8px;
    width: 95%;
    height: 50%;
    font-size: x-large;
    overflow-x: auto;
    overflow: auto;
}

.searchBarContainer {
    margin-top: 16px;
    background-color: rgb(41, 39, 56);
    width: 80%;
    padding-right: 8px;
}

.searchBar {
    width: 60%;
    margin: 3px;
    border: solid 1px #424757;
    outline: none;
    background-color: rgb(41, 39, 56);
    color: rgb(245, 245, 245);
    height: 30px;
    font-size: large;
}

.queries:focus {
    border: solid 1px #6272a4;
    background-color: rgb(41, 39, 56);
    color: rgb(245, 245, 245);
}

.highlight {
    color: rgb(212, 54, 128);
}

.lineNumber {
    width: 70px;
    text-align: right;
    display: inline-block;
    margin-right: 8px;
}

.line {
    display: inline-block;
}

.matchBox {
    border: solid 1px #555c70;
}