.hidden {
    display: none
}

body {
    background-color: rgb(11, 24, 11);
}

#code {
    background-color: rgb(41, 39, 56);
    color: whitesmoke;
    padding: 8px;
    width: 48%;
    height: 50%;
    font-size: x-large;
    margin-top: 10px;
}

#resultContainer {
    float: left;
    overflow-x: auto;
}

#queryResult {
    background-color: rgb(41, 39, 56);
    color: rgb(161, 161, 161);
    padding: 8px;
    width: 95%;
    height: 50%;
    font-size: x-large;
    overflow-x: auto;
    overflow: auto;
}

.searchBarContainer {
    background-color: rgb(38, 53, 38);
    border: solid 1px #597c65;
    width: 50%;
    height: 30px;
}

.searchBar {
    width: 75%;
    height: 30px;
    background-color: #021c02;
    border: 0;
    border-right: solid 1px #597c65;
    outline: none;
    color: white;
    padding: 0;
    padding-left: 3px;
    font-size: large;
}

.searchBarButton {
    float: right;
    width: 22px;
    height: 19px;
    margin-top: 3px;
    margin-right: 4px;
    cursor: pointer;
    background-color: #233023;
    border: solid 1px #597c65;
    color: whitesmoke;
    text-align: center;
    padding-top: 3px;
    user-select: none;
}

.searchBarButton:hover {
    background-color: #324432;
}

.highlight {
    color: rgb(212, 54, 128);
}

.lineNumber {
    width: 70px;
    text-align: right;
    display: inline-block;
    margin-right: 8px;
}

.line {
    display: inline-block;
}

.matchBox {
    border: solid 1px #555c70;
}